.main {
  width: 90%;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
}

.InputFromAdd,
.InputFromEdit {
  width: 24%;
}
.show {
  width: 50%;
}

/* table  */

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border-bottom: 1px solid #ddd;
  width: 33.33%;
  padding: 12px 30px;
}

table tr:hover td {
  background-color: rgba(221, 221, 221, 0.534);
}

table th {
  padding: 14px 0px;
  text-align: left;
  padding-left: 30px;
}

.action {
  padding-left: 10px;
}
/* ============================ */
button.btn_remove {
  background: #e91e63;
  border: solid 1px #e91e63;
}
.btn {
  background: #008cff;
  border: solid 1px #008cff;
}

.btn,
.btn1,
button.btn_remove {
  color: white;
  padding: 8px 18px;
  margin-right: 8px;
  border: none;
  border-radius: 5px;
}
.btn1 {
  color: rgb(0, 0, 0);
  background-color: white;
  border: solid 1px #000;
}

/* =============================== */

.form h3 {
  margin: 8px 0px;
  font-size: 16px;
}

input[type="text"] {
  outline: none;
  height: 29px;
  font-size: 14px;
  font-weight: 500;
  width: 260px;
  padding: 2px 8px;
  margin-bottom: 20px;
}
.form {
  margin-bottom: 40px;
}

@media (max-width: 1373px) {
  .main {
    display: block;
    margin: 0 auto;
    width: 60%;
  }
  .InputFromAdd,
  .InputFromEdit {
    width: 50%;
  }
  .show {
    width: 100%;
  }
  input[type="text"] {
    width: 300px;
  }
}
