.main{
    width: 500px;
    margin: 15px auto;
    border: 1px solid #678c89;
    box-sizing: border-box;
}


/* header  */
.header{
    height: 50px;
    line-height: 50px;
    background-color: #678c89;
    border: 1px solid #678c89;
    color: #fff;
    padding:  0px 15px;
    
}
.header h2{
    margin:0;
}

/* Form */
.input-two{
    display: flex;
    width: 100%;
}
.input-text {
    flex: 8 1;
    font-size: 14px;
    padding: 6px 15px;
    background: rgba(103,140,137,.65);
    border: none;
    color: #fff;
    outline: none;
    font-weight: 400;
    width: 80%;
}
.input-text::placeholder {
    color: #fff;
    opacity: 1;
  }

.input-Add {
    flex: 2 1;
    border: none;
    background: #678c89;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    width: 20%;
    outline: none;
    
}

/* List */
.one-list{
    padding: 10px 15px;
    border-top: 1px solid #678c89;
}

.btn-style {
    background: #d35e0f;
    color: #fff;
    border: 1px solid #d35e0f;
    padding: 3px 7px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
    outline: none;
}

/* checkbox */
.check{
    font-style: italic;
    color: rgb(197, 226, 210);
    text-decoration: line-through;
}

span{
    margin-left: 15px;
}