nav{
margin-bottom:30px ;
}

a{
    text-decoration: none;
    margin: 0px 15px;
    color:black;
    text-transform: uppercase;
    font-weight: 600;
    font-family: sans-serif;
}
.body{
    margin: 0px 20px;
}
.valid{
    outline: none;
    margin-right: 5px;
}
.validTrue{
    border: 1.5px solid #6b6a6a;;
}

.validFalse{
    border:solid 1.5px red;
}
.textCtrue{
    color:green;
}
.textCfalse{
    color: red;
}